body {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px #eee;
  padding: 10px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.typed-value-container {
  position: fixed;
  top: 3em;
  left: 1em;
  color: #ccc;
}
